body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

#game-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}
h2 {
    font-size: 14px;
}

#game-text {
    margin-bottom: 20px;
    text-align: left;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.option-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #45a049;
}

#scene-image {
    max-width: 100%; /* Ensure the image does not exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it respects the block layout */
    margin: 20px auto; /* Center the image horizontally with some margin */
    border: 2px solid #ccc; /* Optional: Add a border for visual separation */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}


/* CSS for styling the gems list */
#gems-list {
    margin-top: 20px; /* Adjust spacing as needed */
}

.gem {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #07ffff; /* Yellow background */
    color: #212529; /* Dark text color */
    border-radius: 5px;
    font-size: 16px;
}

/* Optional hover effect */
.gem:hover {
    background-color: #ffca28; /* Lighter yellow on hover */
    cursor: pointer;
}

